/* UNIVERSAL STYLING SECTION */

html {
    font-size: 18px;
    margin: 0 auto;
    font-family: Helvetica;
    color: white;
}

.sticky-header-container nav,
.main-content-container,
.menu-flex-container ul,
.upper-main-content-container,
.hero-image-container {
    width: 960px;
    margin: 0 auto;
}

/* TOP PAGE HEADER SECTION */

.sticky-header-container {
    width: 100%;
    background-color: black;
    font-size: 1rem;
}

.sticky-header-container nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.66rem 0 0.66rem 0.5rem;
}

.sticky-header-container img {
    height: 1.5rem;
}

#nav-title {
    margin-left: 1rem;
}

/* HEADER IMAGE SECTION */

header {
    background-image: url(./images/moto.jpg);
    height: 25rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-image-container {
    margin: 0 auto;
    padding-top: 9rem;

}

.hero-image-flexbox {
    background-color: black;
    width: 20rem;
    padding: 2rem 3rem;

}

.hero-image-flexbox p {
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 0 0.25rem 0;
}

.hero-image-flexbox h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
}

/* MAIN NAVIGATION SECTION */

.menu-flex-container {
    background-color: firebrick;
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu-flex-container ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap row;
    height: 2.5rem;
    overflow: hidden;
}

.menu-flex-container li:nth-of-type(1) {
    display: none;
}

/* UPPER CONTENT SECTION */

.main-content-container {
    margin: 0 auto;


}

.upper-main-content-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
}

.upper-main-content-flexbox {
    width: 30%;
    border: 4px solid black;
    display: flex;
    flex-flow: column;

}

#pen,
#watch {
    height: 9rem;
    margin: 2rem 0;
    display: flex;
    align-self: center;
}

#glasses {
    width: 9rem;
    margin: 4.4rem 3.5rem;
    align-self: stretch;
}

.upper-main-content-flexbox h3 {
    text-align: center;
    background-color: black;
    padding: 0.5rem 0;
}

/* LOWER CONTENT SECTION */

.lower-main-content-container {
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 4rem;
}

.information-main-content-flexbox {
    width: 35%;
}

.information-flexbox-header {
    background-color: black;
    padding: 1rem 0 1rem 2rem;
}

.information-flexbox-lower {
    color: black;
    padding-top: 0.5rem;
}

/* FOOTER SECTION */

footer {
    background-color: black;
    height: 5rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.copyright {
    text-align: left;
    width: 930px;
    margin: 0 auto;
}

/* TABLET SIZE RULES */

@media only screen and (min-width: 470px) and (max-width: 1024px) {


    .sticky-header-container nav,
    .main-content-container,
    .menu-flex-container ul,
    .upper-main-content-container,
    .hero-image-container {
        width: auto;
    }

    .menu-flex-container ul {
        flex-flow: column;
        position: relative;

    }

    .menu-flex-container li {
        margin: 0.75rem;
    }

    .menu-flex-container li:nth-of-type(1) {
        display: block;
    }

    .upper-main-content-container {
        margin: 0 auto;
    }

    .upper-main-content-flexbox {
        width: 47%;
    }

    .upper-main-content-flexbox:nth-of-type(3) {
        display: none;
    }

    .information-main-content-flexbox {
        width: 35%;

    }

}

/* PHONE SIZE RULES */

@media only screen and (max-width: 470px) {


    .sticky-header-container nav,
    .main-content-container,
    .menu-flex-container ul,
    .upper-main-content-container,
    .hero-image-container,
    .hero-image-flexbox,
    footer {
        width: auto;

    }

    header {
        height: 15rem;
    }

    .hero-image-container {
        padding-top: 10rem;

    }

    .hero-image-flexbox {
        padding: 1rem 0 1rem 2rem;
    }

    .hero-image-flexbox p {
        font-size: 0.77rem;
    }

    .hero-image-flexbox h1 {
        font-size: 1rem;
    }

    .menu-flex-container ul {
        flex-flow: column;
        position: relative;

    }

    .menu-flex-container li {
        margin: 0.75rem;
    }

    .menu-flex-container li:nth-of-type(1) {
        display: block;
    }

    .upper-main-content-container {
        margin: 0 auto;
        justify-content: center;
    }

    .upper-main-content-flexbox {
        width: 90%;
    }

    .upper-main-content-flexbox:nth-of-type(2),
    .upper-main-content-flexbox:nth-of-type(3) {
        display: none;
    }

    .lower-main-content-container {
        justify-content: center;
    }
    .information-main-content-flexbox {
        width: 90%;
        margin-bottom: 0.5rem;
    }

    .copyright {
        text-align: center;
    }

}
